.nome {
    font-family: fantasy;
}

.descricao {
    font-family: cursive;
}

.resido {
    font-style: italic;
}

.python {
    font-size: 2em;
}

.sql {
    font-size: 2em;
}

.c {
    font-size: 2em;
}

.metoAgil {
    font-size: 2em;
}

.desc {
    position: absolute;
    left: 670px;
    top: 100px;
}
.name {
    text-align: center;
}

body {
    background-color: #49D49D;
}